form {
    display: block;
}

form div {
    background-color: #f6f6f6;
    border-radius: 1rem;
    padding-bottom: .74rem;
    margin-bottom: .74rem;
    display: block;
}

form div>div {
    background-color: #e6e6e6;
    border-radius: 1rem;
}

form div>div>div {
    background-color: #d6d6d6;
    border-radius: 1rem;
}

form div>span {
    font-size: 1.7rem;
    margin-left: 0.74rem;
    padding: .5rem 0;
    display: block;
}

form div div>span {
    font-size: 1.4rem;
}

form label {
    display: block;
    padding: .75rem 0;
    margin: 0 .75rem;
    cursor: default;
}

form label label {
    font-size: .75rem;
    padding: .2rem 0;
    margin: 0;
}

form label input.button {
    margin: 0;
}

form label>span {
    color: red;
}

form input, form textarea {
    display: block;
    font-size: 1rem;
    padding: .74rem;
    background-color: #fff;
    border: 1px solid #bbb;
    color: rgb(61, 61, 61);
    margin-top: .2rem;
    width: 100%;
    cursor: text;
}

form textarea {
    resize: vertical;
}

form input.invalid, form textarea.invalid {
    background-color: rgb(255, 180, 180);
    border-color: rgb(255, 56, 56);
}

form input.button {
    display: block;
    border-color: teal;
    background-color: white;
    color: teal;
    font-size: 1.2rem;
    font-weight: 300;
    padding: .4rem 0;
    border-radius: 1rem;
    width: 100%;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form input.button:hover {
    background-color: #e6e6e6;
}

form input.removeButton {
    font-size: .75rem;
}

form input.collapseButton {
    float: right;
    max-width: 30%;
    font-size: .75rem;
    border-radius: 1rem;
    padding: .4rem 1rem;
    margin: .75rem;
}

form .template {
    display: none;
}